
body{
	background-color: #f2f2f2;
	font-family: "Avenir",sans-serif;
}

#canvas{
	position:fixed;
	top: 0;
	left: 0;

	z-index: -1;
	background: rgb(247,250,252);
}
ul{
	list-style-type : none;
}
li {
    list-style-position:inside;
}
ul a{
	text-decoration:none;
	color: white;
}
li a{
	text-align: center;
}
/**Side bar effect*/
#sidebar{
	position: fixed;
	float: left;
	width: 200px;
	/*background-color: #f2f2f2;*/
	border-right: 3px solid #a6a6a6;
	margin-top: -7;
	margin-left: 10%;
}
#sidebar ul{
	margin-left: -40px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#sidebar li{
	border-bottom: 1px dashed black;
	padding: 10px;
}
#sidebar ul a{
	color:black;
}
#sidebar li:hover{
	background-color: #a6a6a6;
}
/*Nav bar effect*/
@media only screen and (min-width: 1100px) {
#nav{
	color: white;
	font-size: 30;
	font-family: "Avenir",sans-serif;
    list-style-type: none;
    left:0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    background: rgb(91, 184, 255);
    background-image: -moz-box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777; -webkit-box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777; box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777;
    width: 100%;
    height: 7%;

	}
	#nav li{
	font-family: "Avenir",sans-serif;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	}
	#searchbar{
	padding-top: 4;
}
}
@media only screen and (max-width: 1100px) {
#nav{
	color: white;
	font-size: 20;
	font-family: "Avenir",sans-serif;
    list-style-type: none;
    left:0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    background: rgb(91, 184, 255);
    background-image: -moz-box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777; -webkit-box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777; box-shadow:-4px 5px 12px #777777, -1px 2px 11px #777777;
    width: 100%;
    height: 7%;
	}
	#nav li{
	font-family: "Avenir",sans-serif;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	}
	#searchbar{
	padding-top: 0;
}
}

#nav a{
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
}
#nav a:before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background: #333; 
    visibility: hidden;

    /* 缩放 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    /* 过渡效果 */
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.7,0,0.3,1);
    -ms-transition: -ms-transform 0.3s cubic-bezier(0.7,0,0.3,1);
    transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
}
#nav a:hover:before{
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#nav ul{
	overflow: hidden;
}


.button {
    background-color: rgb(91, 184, 255);
    border: 1px solid #f2f2f2;
    color: white;
    height: 30px;
    padding-left: -5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#bar{
	width: 250px;
	height: 30px;
}
#content{
	margin-left: 28%;
	margin-right: 30%;
}
.post{
	border-bottom: 2px solid #a6a6a6;
	height: 250px;
	text-align: center;
	line-height: 250px;
}
