
body {
	font-family: "Avenir", sans-serif;
	margin:auto;
	text-align:center;
}


#canvas {
	position:absolute;
	top:0;
	left:0;

	z-index:-1;
	background:rgb(247, 250, 252);
	margin:0;

}

.logo{
	padding-top: 20%;
	padding-left:10%;
	padding-right:10%;

} 

.logo2{
	padding-top: 15%;
}



.inputs {
	display: block;
	width: 300px;
	height: 35px;
	margin: 15px auto;
	background: #ffffff;
	color: rgb(0, 0, 0);
	border: 0px;
	padding: 5px;
	font-size: 16px;
	border: 2px solid rgb(91, 184, 255);
	border-radius: 5px;

 }

input[type="submit"]{
	display: block;
	background: rgb(91, 184, 255);
	width: 300px;
	padding: 12px;
	cursor: pointer;
	color: #fff;
	border: 0px;
	margin: auto;
	border-radius: 5px;
	font-size: 17px;
}

input[type="submit"]:hover{
	display: block;
	background: rgb(85, 171, 237);
	width: 300px;
	padding: 12px;
	cursor: pointer;
	color: #fff;
	border: 0px;
	margin: auto;
	border-radius: 5px;
	font-size: 17px;
}


a {
	text-decoration:none;
    color:#a6a6a6;
}

a:hover{
	text-decoration:none;
    color:#262626;
}